In [1]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('outlets_db.db')
cur = conn.cursor()

In [ ]:
cur.execute('SELECT * FROM outlets limit 5')

In [ ]:
df.head()

In [ ]:
df.info()

##### Убираем дубликаты по торговым точкам

In [ ]:
df1 = df.drop_duplicates(subset = df.columns[2], keep='first')

In [ ]:
df1.head()

In [ ]:
df1.info()

##### Создадим dataframe с 2 полями для дальнейшей записи его в Базу Данных

In [ ]:
df3 = df1[[df.columns[0],df.columns[2]]]

In [ ]:
df3.head()

##### Запись в Базу Данных

In [ ]:
df3.to_sql(name='outlets_clean', con=conn, if_exists='replace')